name: build
on:
  pull_request:
  push:
    branches: master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          cache: npm
      - name: Install dependencies
        run: npm ci --ignore-scripts=true
      - name: Run build
        run: npm run build:ci --workspaces
