name: publish
on: workflow_dispatch
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          cache: npm
          registry-url: https://registry.npmjs.org
      - name: Install dependencies
        run: npm ci --ignore-scripts=true
      - name: Publish core package
        run: npm publish --workspace=packages/mutf-8
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish streaming package
        run: npm publish --workspace=packages/mutf-8-stream
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
